<div class="footer">
  <div class="inline">
    <%= link_to root_path do %>
     <%= image_tag "home.svg" %>
    <% end %>
    <%= link_to favorites_path do %>
     <%= image_tag "like.svg" %>
    <% end %>
    <%= link_to categories_path do %>
     <%= image_tag "dango.svg" %>
    <% end %>
    <%= link_to trails_path do %>
     <%= image_tag "map.svg" %>
    <% end %>
  </div>
</div>
