<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-4 px-1">
      <%= link_to tagged_path(tag: 'popular') do  %>
      <div class="feature-card" style="background-image: radial-gradient(circle, rgba(249,214,217, 0.5), rgba(240,210,195, 0.5), rgba(219,209,181, 0.5), rgba(190,209,181, 0.5), rgba(161,206,193, 0.5)), url('<%= asset_path 'strawmilk.jpg' %>')">
        POPULAR
      </div>
      <% end %>
    </div>
    <div class="col-4 px-1">
      <%= link_to tagged_path(tag: 'seasonal') do  %>
      <div class="feature-card" style="background-image: radial-gradient(circle, rgba(249,214,217, 0.5), rgba(240,210,195, 0.5), rgba(219,209,181, 0.5), rgba(190,209,181, 0.5), rgba(161,206,193, 0.5)), url('<%= asset_path 'mikan.jpg' %>')">
        SEASONAL
      </div>
      <% end %>
    </div>
    <div class="col-4 px-1">
      <%= link_to tagged_path(tag: 'new') do  %>
      <div class="feature-card" style="background-image: radial-gradient(circle, rgba(249,214,217, 0.5), rgba(240,210,195, 0.5), rgba(219,209,181, 0.5), rgba(190,209,181, 0.5), rgba(161,206,193, 0.5)), url('<%= asset_path 'namadora.jpg' %>')">
        NEW
      </div>
      <% end %>
    </div>
  </div>
  <div class="row center mt-4">
    <div class="search-snacks">
      <div class="searchform">
        <%= simple_form_for :search, url: snacks_path, method: "GET", html: { class: 'form-inline' } do |f| %>
          <%= f.input :query, input_html: { value: ""}, placeholder: "Try 'taiyaki'...", name: "search", label: false %>
        </div>
        <div class="searchbutton">
          <button type="submit", { class="btn btn-search" } >
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
        <!--    <%= f.submit "Search", { class: "btn btn-mochi" } %>
      <% end %> -->
      </div>
    </div>
    <h3 class="mt-2">Popular Tags</h3>
    <div class="row center">
      <%= render "shared/tags", tags: @tags %>
    </div>
    <h3 class="mt-4">Yummy Categories</h3>
    <div class="row" >
      <%= render "categories/card" %>
    </div>
    <div class="row center">
      <%= link_to categories_path do %>
        <div class="btn btn-see-more">See More Yummy Categories!</div>
      <% end %>
    </div>
    <h3 class="mt-4">Popular Snacks</h3>
    <div class="row d-flex">
      <%= render "snacks/index-card", snacks: @snacks %>
    </div>
  </div>
</div>
</div>
