<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <div class="feature-card" style="background-image: url('<%= asset_path 'mikan.jpeg' %>')">
        Popular
      </div>
    </div>
    <div class="col-4">
      <div class="feature-card" style="background-image: url('<%= asset_path 'namadora.jpg' %>')">
        Seasonal
      </div>
    </div>
    <div class="col-4">
      <div class="feature-card" style="background-image: url('<%= asset_path 'kakigori.jpg' %>')">
        New
      </div>
    </div>
  </div>
  <div class="row center mt-4">
    <div class="search-snacks">
      <div class="searchform">
        <%= simple_form_for :search, url: snacks_path, method: "GET", html: { class: 'form-inline' } do |f| %>
          <%= f.input :query, input_html: { value: ""}, placeholder: "Try 'taiyaki'...", name: "search", label: false %>
        </div>
        <div class="searchbutton">
          <button type="submit", { class="btn btn-mochi" } >
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
        <!--    <%= f.submit "Search", { class: "btn btn-mochi" } %>
      <% end %> -->
      </div>
    </div>
    <h3 class="mt-2">Popular Tags</h3>
    <div class="row">
      <div class="d-flex flex-wrap justify-content-center">
        <% @tags.each do |tag| %>
          <div class="tag">
            <p class= "tag-text"><%= tag.name %></p>
          </div>
        <% end %>
      </div>
    </div>
    <h3 class="mt-4">Yummy Categories</h3>
    <div class="row" >
      <% @categories.each do |category| %>
        <div class="col-6">
          <%= link_to category_path(category) do %>
            <div class="individual-category-card" style="background-image: url('<%= asset_path category.image_path %>'); " >
              <%= link_to category.name.upcase, category_path(category) %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <h3 class="mt-4">Popular Snacks</h3>
    <div class="row justify-content-center">
      <% @snacks.each do |snack| %>
        <div class="snack-index-card">
          <%= image_tag snack.snack_images[0].image_path %>
          <div class="snack-index-card-infos">
            <div>
              <h4 class="info"> <%= snack.name %> </h4>
              <div class="stars">
                <% if snack.avg_snack_stars == 0 %>
                  No ratings yet!
                <% else %>
                  <% (snack.avg_snack_stars).times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% (5 - snack.avg_snack_stars).times do %>
                    <i class="far fa-star"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
            <%= image_tag("bobby", :alt=> "bananadeer", class: "bobby") %>
          </div>
          <%= link_to "", snack_path(snack), class: "snack-index-card-link" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
