<div class="container">
  <div class="col">
    <h3><%= @trail.name %>: Edit</h3>
    <!--     <div class="row">
      <% @snacks.each do |snack| %>
        <div class="snack-index-card col-6">
          <%= image_tag 'mikan.jpeg' %>
          <div class="snack-index-card-infos">
            <div>
              <h1 class="info">Snack Index </h1>
              <div class="stars">
                <% (snack.avg_snack_stars).times do %>
                  <i class="fas fa-star"></i>
                <% end %>
                <% (1 - snack.avg_snack_stars).times do %>
                  <i class="far fa-star"></i>
                <% end %>
              </div>
            </div>
            <%= image_tag("bobby", :alt=> "bobby", class: "bobby") %>
          </div>
        </div>
      <% end %>
    </div> -->
    <div class="row justify-content-center">
      <% @snacks.each do |snack| %>
        <div class="snack-index-card-2">
          <div class="snack-index-card-2-image">
            <%= image_tag snack.snack_images[0].image_path %>
          </div>
          <div class="snack-index-sub-card-2">
            <div class="sub-title mt-3">
              <h4> <%= snack.name %> </h4>
            </div>
            <div class="bottom-info">
              <div class="stars">
                <% if snack.avg_snack_stars == 0 %>
                  No ratings yet!
                <% else %>
                  <% (snack.avg_snack_stars).times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% (5 - snack.avg_snack_stars).times do %>
                    <i class="far fa-star"></i>
                  <% end %>
                <% end %>
              </div>
              <%= image_tag("bobby", :alt=> "avatar", class: "bobby") %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>