
<div class="col">
  <h3>Edit trail: <em><%= @trail.name %></em></h3>
  <h5>Favorited snacks 5km within <%= @trail.location %>: </h5>
  <div class="row d-flex">
    <%= render "trail_edit_card", snacks: @near_favorited_snacks %>
  </div>
  <h5>Other favorited snacks: </h5>
  <div class="row d-flex">
    <%= render "trail_edit_card", snacks: @far_favorited_snacks %>
  </div>
  <div class="container justify-content-center">
    <%= link_to "View Trail", trail_path(@trail), class: 'btn btn-teal' %>
  </div>
</div>
