<div class="container">
  <div class="row">
    <div class="maintitle">
      <h2>My Trails</h2>
      <div class="new-trail-button" >
        <%= image_tag "add.svg" %>
        <%= link_to 'Add New Trail', new_trail_path %>
        <p></p>
      </div>
    </div>
    <% @trails.each do |trail| %>
      <div class="trail-card mt-4">
        <%= image_tag trail.snacks[0].snack_images[0].image_path %>
        <div class="trail-card-infos">
          <h2> <%= link_to trail.name, trail_path(trail) %></h2>
          <p><%= trail.location %></p>
          <div class="tags">
            <div class="row mt-4">
              <% trail.snacks[0].tag_list.take(4).each do |tag| %>
                <div class="tag">
                  <p><%= tag %></p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
