<row class="col-12 center">
  <h2>Create New Trail</h2>
</row>
<row class="xs-col-12 center">
  <%= simple_form_for @trail do |f| %>
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :snacks, collection: @snacks, input_html: { multiple: true } %>
    <%= f.submit :submit, class: "btn btn-teal center" %>
  <% end %>
</row>