<div class="col">
  <h2><%= @category.name.titleize %></h2>
  <p> <%= @category.description  %> </p>
  <%= render "shared/tags", tags: @category.tag_list %>
  <h3>Examples of <%= @category.name.titleize %></h3>
  <div class="row d-flex">
    <%= render "snacks/index-card", snacks: @category.snacks %>
  </div>
</div>