<div class="container">
  <div class="col">
    <h2>
      <%= @category.name %>
    </h2>
    <p>
      <%= @category.description  %>
    </p>
    <div class="tag-container center">
      <div class="tag">
        <p>chewy</p>
      </div>
      <div class="tag">
        <p>creamy</p>
      </div>
      <div class="tag">
        <p>sweet</p>
      </div>
    </div>
    <%= link_to "Back", categories_path %>
    <h3>Examples of <%= @category.name %></h3>
    <div class="row">
      <% @category.snacks.each do |snack| %>
        <div class="snack-index-card">
          <%= image_tag snack.snack_images[0].image_path %>
          <div class="snack-index-card-infos">
            <div>
              <h4 class="info"> <%= snack.name %> </h4>
              <div class="stars">
              <% if snack.avg_snack_stars == 0 %>
              No ratings yet!
              <% else %>
                <% (snack.avg_snack_stars).times do %>
                  <i class="fas fa-star"></i>
                <% end %>
                <% (5 - snack.avg_snack_stars).times do %>
                  <i class="far fa-star"></i>
                <% end %>
              <% end %>
            </div>
            </div>
            <%= image_tag("bobby", :alt=> "bananadeer", class: "bobby") %>
          </div>
          <%= link_to "", snack_path(snack), class: "snack-index-card-link" %>
        </div>
      <% end %>
    </div>
  </div>
