<div class="container" style="flex-direction: column;">
  <h2>My Favs</h2>
  <% @snacks.each do |snack| %>
  <div>
    <%= link_to snack, class: "mb-2" do %>
      <div class="favorite-card mt-2">
        <% if snack.snack_images.empty? %>
          <%= image_tag "cake.jpg", class: "flex-grow-1 flex-image flex-left" %>
        <% else %>
          <%= cl_image_tag(snack.snack_images.first.image_path, :alt=> "cake") %>
        <% end %>
        <div class="favorite-card-infos" style="display: flex; flex-direction: column; justify-content: space-between;">
          <div class="fav-info-stuff">
            <h2> <%= snack.name %></h2>
            <%= image_tag "pink-heart.svg", class: "fixed-heart" %>
            <p class="favorite"><%= snack.description %></p>
          </div>
          <div class="d-flex flex-wrap justify-content-center" style="margin-bottom: 5px;">
            <% snack.tag_list.sample(2).each do |tag| %>
              <div class="tag">
                <p class= "tag-text"><%= tag %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
