<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2>Add a new snack!</h2>
      <%= simple_form_for @snack do |f| %>
        <%= f.input :name, placeholder: "Enter name of snack"%>
        <%= f.input :category, collection: Category.all.map{ |p| [p.name, p.id]} %>
        <%= f.input :description, placeholder: "Pls describe ur snak" %>
        <%= f.input :shop_location, placeholder: "Enter address"%>
        <%= f.button :submit, class: 'btn btn-teal-new-snack' %>
      <% end %>
    </div>
  </div>
</div>
