<div class="container-snack-show">
  <div class="row no-gutters">
    <div class="col">
      <div class="snack-show-card">
        <div class="header-container d-flex">
          <% if @snack.snack_images.empty? %>
            <%= image_tag "cake.jpg", class: "flex-grow-1 flex-image flex-left" %>
          <% else %>
            <%= cl_image_tag @snack.snack_images[0].image_path, class: "flex-shrink-1 flex-image flex-left" %>
            <div class="d-flex flex-grow-1 flex-wrap flex-right">
            <% 4.times do |i| %>
                <% if @snack.snack_images[i+1].nil?  %>
                <%= image_tag "placeholder.png", class: "flex-image" %>
                <% else %>
                <%=  cl_image_tag @snack.snack_images[i].image_path, class: "flex-image" %>
            <% end %>
            <% end %>

            </div>
          <% end %>
        </div>
        <div class="snack-show-card-infos">
          <h3 style="font-size: 38px;"><%= @snack.name %></h3>
          <div class="icons" style="display: flex;
            justify-content: space-between;">
            <h3 class="snack-show-card-stars">
              <% if @snack.avg_snack_stars == 0 %>
                No ratings yet!
              <% else %>
                <% (@snack.avg_snack_stars).times do %>
                  <i class="fas fa-star"></i>
                <% end %>
                <% (5 - @snack.avg_snack_stars).times do %>
                  <i class="far fa-star"></i>
                <% end %>
              <% end %>
            </h3>
            <%= link_to favorite_snack_path(@snack), method: :patch, remote: true do %>
              <div class="snack-show-card-heart">
                <%= image_tag @heart, alt: "alttext", class: "snack-show-fixed-heart" %>
              </div>
            <% end %>
          </div>
          <p class="mb-3"><%= @snack.description %></p>
          <%= render "shared/tags", tags: @tags %>
          <div class="inline mt-2" >
            <div class="pic-button">
              <%=  link_to root_path, class: "btn btn-mochi" do %>Take a Pic! <br>
                <i class="fas fa-camera"></i>
              <% end %>
            </div>
            <div class="rate-button">
              <%#= link_to "Rate it!", new_snack_snack_rating_path(@snack), remote: true, class: "btn btn-mochi" %>
              <% if @snack_rating.id %>
                <div id="rating-button">
                  <button type="button" class="btn btn-mochi" style="cursor: not-allowed;">My Rating: <br>
                    <% @snack_rating.stars.times do %>
                      <i class="fas fa-star"></i>
                    <% end %>
                  </button>
                </div>
              <% else %>
                <div id="rating-button">
                  <button type="button" class="btn btn-mochi" data-toggle="modal" data-target="#exampleModal">
                    Rate it! <br>
                    <i class="fas fa-star"></i>
                  </button>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Rate <%= @snack.name %>!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body" id='snack-rating-div'>
                        <%= render 'snack_ratings/new' %>
                      </div>
                      <div class="modal-footer">
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="map-container mt-3">
          <div id="map" data-markers="<%= @markers.to_json %>" data-icon="<%= @icon %>"></div>
        </div>
      </div>
      <%= link_to "Back", category_path(@snack.category) %>
    </div>
  </div>
</div>
